<div class="forms" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input type="number" matInput placeholder="Price" formControlName="price" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input type="number" matInput placeholder="Amount" formControlName="amount" />
  </mat-form-field>
</div>

<button mat-raised-button (click)="onSave()">Save</button>
